/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.3s ease;
  z-index: 10;
  overflow: hidden;
}

.sidebar.expanded {
  width: 200px;
}

/* Sidebar text color - Ensure it stays white even when expanded or hovered */
.sidebar .text-container {
  color: white; /* Set text color to white */
  opacity: 0; /* Hide text initially */
  transition: opacity 0.3s ease, color 0.3s ease;
}

.sidebar.expanded .text-container {
  opacity: 1; /* Show text when expanded */
}

.sidebar:hover .text-container {
  opacity: 1; /* Show text on hover */
}

.sidebar .toggle-btn {
  position: absolute;
  top: 10px;
  right: -20px;
  background-color: #38b2ac;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar .toggle-btn:hover {
  background-color: #4ade80;
}

.sidebar:hover {
  width: 150px;
}

/* Sidebar navigation styles */
.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 1rem;
}

.sidebar nav ul li a {
  color: white !important; /* Ensures link text is always white */
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.3s ease;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar nav ul li a:hover {
  color: #38b2ac; /* Color when hovered */
}

/* Main content styles */
.main-content {
  margin-left: 70px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar.expanded ~ .main-content {
  margin-left: 200px;
}

.home-background {
  background-image: url('../../public/homepage_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
}

/* Typing effect */
@keyframes typing {
  0% {
      clip-path: inset(0 100% 0 0); 
  }
  100% {
      clip-path: inset(0 0 0 0); 
  }
}

@keyframes blink {
  0%, 50% {
      border-color: transparent;
  }
  50%, 100% {
      border-color: black;
  }
}

.typing-effect {
  display: inline-block;
  font-family: monospace;  
  white-space: nowrap;     
  overflow: hidden;        
  position: relative;
  animation: typing 1.5s steps(10) 1s forwards;
}

.typing-effect::after {
  content: '|';               
  position: absolute;
  right: -15px;           
  top: 0;
  animation: blink 0.75s step-end infinite; 
}


