/* category css page for all directories within sidebar */

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    font-family: sans-serif;
    padding: 0; 
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    width: 100%;
}

.card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px; 
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #000000;
}

.info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.imagePlaceholder {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center;
    border-radius: 8px;
    object-fit: cover;
}

.businessName {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.address {
    margin: 10px 0;
    color: #555;
}

.about {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
}

h3 {
    font-size: 15px;
    margin-top: 25px;
    font-weight: bold;
    color: #4a4949;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    color: #4a4949;
}

.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 9px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-button {
    background-color: #000000;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
.button:hover {
    background-color: #5f5f5f;
  }

.icon-button img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
  
.icon-button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
.icon-button:hover img {
    transform: scale(1.1); 
    transition: transform 0.2s;
  }

.bottom-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 15px; 
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative; 
    height: 80%; 
    max-height: 250px; 
  }
  
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    resize: none;
    flex-grow: 1; 
    margin-bottom: 10px; 
  }
  
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -10px;
  }
  
.submit-button,
.cancel-button {
    padding: 5px 10px; 
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.submit-button {
    background-color: #7fd1db;
    color: white;
  }
  
.cancel-button {
    background-color: #000000;
    color: white;
  }
  
.button {
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.button:hover {
    opacity: 0.9;
  }
  
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; 
  width: 80%;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.popup-content h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}

.popup-content p {
  font-size: 14px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
