@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 55px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {
  width: 100%;
  overflow-x: auto;
  padding-top: var(--navbar-height);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto; 
  background: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-white {
  background-color: #ffffff;
}

.text-gray-600 {
  color: #718096;
}


footer {
  width: 100%;
  position: relative;
  bottom: 0; 
  left: 0; 
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .w-90 {
    width: 90%;
  }
  .h-80 {
    height: 80%;
  }
  .relative {
    position: relative;
  }
  .overflow-hidden {
    overflow: hidden;
  }
}
