@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-white {
  background-color: #ffffff;
}

.text-gray-600 {
  color: #718096;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .w-90 {
    width: 90%;
  }
  .h-80 {
    height: 80%;
  }
  .relative {
    position: relative;
  }
  .overflow-hidden {
    overflow: hidden;
  }
}
